* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  height: 100vh;
  background-image: url(../images/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: inherit;
}

.center-wrapper {
  max-width: 1000px;
  width: 100%;
  padding: 50px 10px;
  margin: 0 auto;
}

.header-img {
  width: 150px;
  height: 150px;
}

h1 {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.header-text {
  margin-top: 1rem;
}

.main-article {
  background-color: black;
  display: flex;
  justify-content: center;
  max-width: 2000px;
  width: 100%;
  padding: 50px 10px;
  margin: 0 auto;
}

.social-link {
  font-size: 3rem;
}

h2 {
  font-weight: bold;
  font-size: 1.17rem;
  margin-top: 1rem;
}

.main-text {
  margin-top: 1rem;
  max-width: 300px;
}

.about-section {
  color: rgb(51, 51, 51);
  display: flex;
  max-width: 1000px;
  width: 100%;
  padding: 50px 10px;
  margin: 0 auto;
}

.about-img {
  width: 50%;
  text-align: end;
  margin: auto 4rem;
}

.about-text {
  width: 50%;
  text-align: left;
  margin: auto 2rem;
}

.about-text-content {
  margin-top: 1rem;
}

footer {
  background-color: rgb(51, 51, 51);
  max-width: 2000px;
  width: 100%;
  padding: 50px 10px;
  margin: 0 auto;
}
