* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}

header {
    height: 100vh;
    background-image: url(../images/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: inherit;
} 

.header-img {
    width: 150px;
    height: 150px;
    margin-top: 0 auto;
}

h1 {
    font-size: 2.2rem;
    margin-top: 1rem;
}

.header-text {
    margin-top: 1rem;
}

.main-article {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 6rem 1rem;
    margin: auto;
}

.social-link {
    font-size: 3rem;
}

h2 {
    font-weight: bold;
    font-size: 1.17rem;
    margin-top: 1rem;
}

.main-text {
    margin-top: 1rem;
    max-width: 300px;
}

.about-article {
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    /* min-width: 320px; */
    /* max-width: 100px; */
    border: 10px solid red;
    /* justify-content: center; */
    /* text-align: end; */

}

.about-img {
    /* display: flex; */
    width: 49%;
        border: 10px solid red;
        /* justify-content: center; */

}

.about-text {
    /* display: flex; */
    width: 49%;
        border: 10px solid red;
        /* justify-content: center; */

}

footer {
    background-color: rgb(51, 51, 51);
    height: 5rem;
    padding: 2.2rem;
}


